@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTS55F.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.search {
    width: 40%;
    min-width: 370px;
    height: 36px;
    margin: 20px auto;
}

.search form {
    margin: 0;
    height: 100%;
    width: 100%;
}

.searchTerm {
    width: 80%;
    height: 100%;
    border: 2px solid #00B4CC;
    border-right: none;
    border-radius: 2px 0 0 2px;
    padding-left: 5px;
    outline: none;
    color: #9DBFAF;
    box-shadow: 2px 0px 0 0px #00B4CC;
    background-color: #ffffff;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 20%;
    height: 100%;
    border: 1px solid #00B4CC;
    border-left: none;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-size: 20px;
    display: block;
    float: right;
    outline: none;
}

.wrap{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.answer-display {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 2px;
    border: 2px solid;
}

.question {
    margin: 0;
    padding: 10px;
    display: block;
    font-size: 120%;
    font-weight: bold;
    color: #ffffff;
}

.question button {
    height: 100%;
    font-weight: bold;
    font-size: 120%;
    color: #ffffff;
    border: none;
    float: right;
    background-color: Transparent;
    outline: none;
    cursor: pointer;
}

.answer {
    padding: 15px;
}

pre {
    padding: 10px;
    overflow: auto;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 2px solid #dddddd;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 12px;
}

blockquote {
    border-left: 2px solid #bbbbbb;
    padding: 3px 10px;
    border-radius: 2px;
    background: #F0F7F7;
    margin: 0;
}

img {
    display: block;
    max-width: 95%;
    margin: 0 auto;
}

.question a {
    text-decoration: none;
    color: white;
}
