<!DOCTYPE html>
<html>
<head>
    <title>Top Answers</title>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body onload="updateSliderVal()">
<div class="search">
<form action="/search">
  <input name="query" type="text" class="searchTerm" placeholder="Enter your query!" value="{{ query }}"/>
  <button type="submit" class="searchButton">
    <b class="query-search">Search</b>
  </button>
  <div class="slidecontainer">
      <label for="myRange"> How many answers? <span id="output"></span></label>
      <input oninput="updateSliderVal()" name="n_ans" type="range" min="1" max="20" value="{{ n_ans }}" class="slider" id="myRange"/>
  </div>
</form>
</div>
{% for item in data %}
<div class="answer-display" style="border-color: {{ item[1] }}">
    <div class="question" style="background: {{ item[1] }}">
        Q. <a href="{{ item[0].question_link }}" target="_blank"> {{ item[0].question_title | safe }} </a>
        <button class="show-hide" onclick="show_hide(this)"> - </button>
    </div>
    <div class="answer">
        {{ sub('<\s*code\s*>', '<code class="prettyprint">', item[0].body) | safe }}
    </div>
</div>
{% endfor %}
</body>
</html>
