<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div class="search">
<form action="/search">
  <input name="query" type="text" class="searchTerm" placeholder="Enter your query!"/>
  <button type="submit" class="searchButton">
    <b class="query-search">Search</b>
  </button>
</form>
</div>
{% for item in data %}
<div class="answer-display" style="border: 3px solid {{ item[1] }}">
    <div class="question" style="background: {{ item[1] }}">
        Q. {{ item[0].question_title }}
    </div>
    <div class="answer">
        {{ item[0].body | safe }}
    </div>
</div>
{% endfor %}
</body>
</html>
